<div class="container grid grid-rows-3 gap-4 h-auto w-auto">
  <!-- First Row OF Home  -->
  <div class="grid grid-cols-12 gap-4 w-full h-full">
    <div class="col-span-5 bg-red-100">Row 1 Coloum 1</div>
    <div class="col-span-7 gird grid-cols-2 space-y-4">
      <div class="col-span-2 w-full bg-slate-200 rounded-full p-2">Row 1 Coloum 2</div>
      <div class="col-span-2 place-items-center w-full grid grid-cols-2">
        <div class="col-span-1 w-full bg-slate-200">Row 1 Coloum 3</div>
        <div class="col-span-1 w-full bg-slate-200">Row 1 Coloum 4</div>
      </div>

    </div>

  </div>





  <div class="w-full h-full grid grid-cols-12 gap-4 ">
    <!-- Second Row Of Home -->
    <div class="w-full col-span-3 bg-cyan-400">Row 2 Element 1</div>
    <div class="w-full col-span-6 bg-cyan-100">Row 2 Element 2</div>
    <div class="w-full col-span-3 bg-cyan-200">Row 2 Element 3</div>
  </div>


  <!-- third Row Of Home   -->
  <div class="w-full h-full grid grid-cols-2 gap-4">
    <div class="w-full col-span-1 bg-cyan-400">Row 3 Element 1</div>
    <div class="w-full col-span-1 bg-cyan-100">Row 3 Element 2</div>
  </div>
</div>
